header, search, #results {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto; }

html {
  background-color: white;
  font-family: helvetica, Arial, san-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #CCCCCC;
  height: 100%; }

body {
  background-image: url("../images/austin-neill-213462.jpg");
  background-repeat: no-repeat;
  background-size: 100% 30%; }

li h3 {
  color: #16A085;
  font-size: 14px; }

h3 {
  background-color: #111111;
  color: white;
  width: 20rem;
  margin-top: 50px; }

h2 {
  background-color: #111111;
  width: 11rem;
  margin-bottom: 0rem;
  margin-top: 6px;
  margin-left: 20rem;
  height: 1rem;
  font-size: 12px; }

h1 a {
  float: left;
  width: 60px;
  height: 60px;
  background: url("../images/turntable.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
  margin-top: 3px; }

nav {
  float: right;
  padding-left: 1rem;
  font: 6px;
  margin-top: 0; }

nav li {
  display: inline-block;
  padding: 0rem .5rem 0rem 0rem;
  color: #CCCCCC;
  font: 10px;
  text-decoration: none; }
  nav li a {
    display: block;
    color: #CCCCCC;
    font-size: 10px;
    text-decoration: none; }

nav a:hover {
  color: #16A085; }

header::after {
  content: " ";
  display: block;
  clear: both; }

footer {
  text-align: center;
  background-color: #111111; }

#searchField {
  height: 30px;
  width: 520px;
  background-color: #EEEEEE;
  margin-top: 0rem;
  margin-left: 20rem;
  font-size: 20px;
  margin-bottom: 20px; }

#submitSearch {
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  background-size: 15px 15px;
  border: none;
  margin-left: -25px; }

#results li {
  text-align: center;
  width: calc(100%/3);
  display: inline-block;
  float: left; }

#results p {
  text-align: center; }

results::after {
  content: " ";
  display: block;
  clear: both; }

#results ul:nth-of-type(3n+1),
#results > p:last-child {
  clear: left; }

#results > p {
  font-size: 10px;
  border-top-left-radius: 1;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1;
  border-bottom-right-radius: 0;
  padding: .5em 1em;
  background-color: #16A085;
  width: 130px;
  color: #111111;
  margin: 28rem;
  margin-bottom: 2rem;
  margin-top: 10rem;
  margin-left: 24rem; }
