@media (min-width: 300px) {
  html {
    background-color: white;
    font-family: helvetica, Arial, san-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #CCCCCC;
    height: 100%; } }

@media (min-width: 400px) {
  html {
    background-color: white;
    font-family: helvetica, Arial, san-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #CCCCCC;
    height: 100%; } }

@media (min-width: 700px) {
  html {
    background-color: white;
    font-family: helvetica, Arial, san-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #CCCCCC;
    height: 100%; } }

@media (min-width: 1000px) {
  html {
    background-color: white;
    font-family: helvetica, Arial, san-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #CCCCCC;
    height: 100%; } }

@media (min-width: 300px) {
  body {
    background-image: url("../images/austin-neill-213462.jpg");
    background-repeat: no-repeat;
    background-size: auto 16%; } }

@media (min-width: 400px) {
  body {
    background-image: url("../images/austin-neill-213462.jpg");
    background-repeat: no-repeat;
    background-size: auto 20%; } }

@media (min-width: 700px) {
  body {
    background-image: url("../images/austin-neill-213462.jpg");
    background-repeat: no-repeat;
    background-size: 100% 20%;
    height: auto; } }

@media (min-width: 1000px) {
  body {
    background-image: url("../images/austin-neill-213462.jpg");
    background-repeat: no-repeat;
    background-size: 100% 20%;
    height: auto; } }

@media (min-width: 300px) {
  header {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto; } }

@media (min-width: 400px) {
  header {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto; } }

@media (min-width: 700px) {
  header {
    width: 80%;
    margin: 0 auto; } }

@media (min-width: 1000px) {
  header {
    width: 80%;
    margin: 0 auto; } }

@media (min-width: 300px) {
  search {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto; } }

@media (min-width: 400px) {
  search {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto; } }

@media (min-width: 700px) {
  search {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto; } }

@media (min-width: 1000px) {
  search {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto; } }

@media (min-width: 300px) {
  #results {
    width: auto;
    max-width: 1100px;
    margin: 0 auto; } }

@media (min-width: 400px) {
  #results {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto; } }

@media (min-width: 700px) {
  #results {
    width: auto;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1000px) {
  #results {
    width: 60%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 300px) {
  li h3 {
    color: #16A085;
    font-size: 10px;
    width: 180px;
    position: relative;
    left: 92px;
    top: -80px;
    margin-top: 0;
    padding-left: 0; } }

@media (min-width: 400px) {
  li h3 {
    color: #16A085;
    font-size: 12px;
    width: 190px;
    position: relative;
    left: 130px;
    top: -80px;
    margin-top: 0;
    padding-left: 0; } }

@media (min-width: 700px) {
  li h3 {
    width: 100%;
    position: static;
    color: #16A085;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0; } }

@media (min-width: 1000px) {
  li h3 {
    width: 100%;
    color: #16A085;
    font-size: 12px;
    text-align: center;
    margin-bottom: 0; } }

@media (min-width: 300px) {
  #headlineResults {
    background-color: #222222;
    color: white;
    width: auto;
    margin-top: 15px;
    font-size: 18px;
    height: 40px;
    padding-top: 10px;
    padding-left: 20px; } }

@media (min-width: 400px) {
  #headlineResults {
    background-color: #222222;
    color: white;
    width: auto;
    margin-top: 18px;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 35px; } }

@media (min-width: 700px) {
  #headlineResults {
    background-color: #222222;
    color: white;
    width: auto;
    margin-top: 18px;
    font-size: 24px;
    text-align: center; } }

@media (min-width: 1000px) {
  #headlineResults {
    background-color: #222222;
    color: white;
    width: 20rem;
    margin-top: 30px;
    margin-left: 120px;
    font-size: 18px;
    padding-left: 0; } }

@media (min-width: 300px) {
  h2 {
    background-color: #222222;
    width: 255px;
    margin-bottom: 0rem;
    margin-top: 62px;
    padding-left: 3rem;
    margin-left: auto;
    margin-right: auto;
    height: 2rem;
    font-size: 13px; } }

@media (min-width: 400px) {
  h2 {
    background-color: #222222;
    width: 80%;
    margin-bottom: 0;
    margin-top: 70px;
    padding-left: 0;
    margin-left: auto;
    margin-right: auto;
    height: 2rem;
    font-size: 20px; } }

@media (min-width: 700px) {
  h2 {
    background-color: #222222;
    width: 20rem;
    margin-bottom: 0rem;
    margin-top: 70px;
    margin-left: 6rem;
    padding-left: 3rem;
    height: 2rem;
    font-size: 20px; } }

@media (min-width: 1000px) {
  h2 {
    background-color: #222222;
    width: 15rem;
    margin-bottom: 0rem;
    margin-top: 20px;
    margin-left: 25rem;
    padding-left: 0;
    height: 2rem;
    font-size: 12px; } }

@media (min-width: 300px) {
  h1 a {
    float: left;
    width: 60px;
    height: 60px;
    background: url("../images/turntable.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin-top: 3px; } }

@media (min-width: 400px) {
  h1 a {
    float: left;
    width: 60px;
    height: 60px;
    background: url("../images/turntable.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin-top: 3px; } }

@media (min-width: 700px) {
  h1 a {
    float: left;
    width: 60px;
    height: 60px;
    background: url("../images/turntable.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin-top: 3px; } }

@media (min-width: 1000px) {
  h1 a {
    float: left;
    width: 60px;
    height: 60px;
    background: url("../images/turntable.png");
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin-top: 3px; } }

@media (min-width: 300px) {
  #searchField {
    height: 40px;
    width: 283px;
    background-color: #EEEEEE;
    margin-top: 0rem;
    margin-left: 8px;
    margin-right: auto;
    font-size: 20px;
    margin-bottom: 20px; } }

@media (min-width: 400px) {
  #searchField {
    height: 40px;
    width: 20rem;
    background-color: #EEEEEE;
    margin-top: 0rem;
    margin-left: 2.5rem;
    font-size: 20px;
    margin-bottom: 20px; } }

@media (min-width: 700px) {
  #searchField {
    height: 40px;
    width: 30rem;
    background-color: #EEEEEE;
    margin-top: 0rem;
    margin-left: 6rem;
    font-size: 20px;
    margin-bottom: 20px; } }

@media (min-width: 1000px) {
  #searchField {
    height: 40px;
    width: 40rem;
    background-color: #C0C0C0;
    margin-top: 0rem;
    margin-left: 25rem;
    font-size: 25px;
    margin-bottom: 70px; } }

@media (min-width: 300px) {
  #submitSearch {
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: 15px 15px;
    border: none;
    margin-left: -25px; } }

@media (min-width: 400px) {
  #submitSearch {
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: 15px 15px;
    border: none;
    margin-left: -25px; } }

@media (min-width: 700px) {
  #submitSearch {
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: 15px 15px;
    border: none;
    margin-left: -25px; } }

@media (min-width: 1000px) {
  #submitSearch {
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    border: none;
    margin-left: -28px; } }

@media (min-width: 300px) {
  #results ul {
    width: 95%;
    display: flex;
    flex-direction: column;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 400px) {
  #results ul {
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 700px) {
  #results ul {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1000px) {
  #results ul {
    display: flex;
    flex-wrap: wrap; } }

@media (min-width: 300px) {
  li img {
    width: 30%;
    height: auto; } }

@media (min-width: 400px) {
  li img {
    width: 25%;
    height: auto; } }

@media (min-width: 700px) {
  li img {
    width: auto;
    height: auto; } }

@media (min-width: 300px) {
  #results li {
    background-color: #222222;
    width: auto;
    height: 89px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    font-size: 10px;
    margin-bottom: 1rem; }
  #results li p {
    text-align: center;
    font-size: 10px;
    position: relative;
    left: 92px;
    top: -80px;
    width: 180px;
    margin-top: 0rem; } }

@media (min-width: 400px) {
  #results li {
    background-color: #222222;
    width: auto;
    height: 88px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 12px; }
  #results li p {
    text-align: center;
    font-size: 12px;
    width: 190px;
    position: relative;
    left: 170px;
    top: -80px;
    width: 100px;
    margin-top: 0rem; } }

@media (min-width: 700px) {
  #results li {
    background-color: #222222;
    width: 175px;
    height: 280px;
    display: flex;
    margin-right: 1rem;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    font-size: 10px;
    margin-bottom: 1rem; }
  #results li p {
    position: static;
    text-align: center;
    font-size: 16px;
    width: 100%; } }

@media (min-width: 1000px) {
  #results li {
    background-color: #222222;
    width: 175px;
    height: 280px;
    display: flex;
    margin-right: 1rem;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    font-size: 10px;
    margin-bottom: 1rem; }
  #results p {
    text-align: center;
    font-size: 16px;
    width: 100%;
    padding-top: 0;
    margin-top: 2px; } }

@media (min-width: 300px) {
  results::after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 400px) {
  results::after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 700px) {
  results::after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  results::after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 300px) {
  #results ul:nth-of-type(3n+1),
  #results > p:last-child {
    clear: left; } }

@media (min-width: 400px) {
  #results ul:nth-of-type(3n+1),
  #results > p:last-child {
    clear: left; } }

@media (min-width: 700px) {
  #results ul:nth-of-type(3n+1),
  #results > p:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center; } }

@media (min-width: 1000px) {
  #results ul:nth-of-type(3n+1),
  #results > p:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center; } }

@media (min-width: 300px) {
  #loadMoreMusic {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    padding-right: 6rem;
    text-align: center;
    border-top-left-radius: -1;
    border-top-right-radius: 1;
    border-bottom-left-radius: 1;
    border-bottom-right-radius: -1;
    background-color: #16A085;
    width: 70%;
    height: 50px;
    color: #222222;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 400px) {
  #loadMoreMusic {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    padding-right: 6rem;
    text-align: center;
    border-top-left-radius: 1;
    border-top-right-radius: 1;
    border-bottom-left-radius: 1;
    border-bottom-right-radius: 1;
    background-color: #16A085;
    width: 58%;
    color: #222222;
    height: 50px;
    margin-right: auto;
    margin-left: auto; } }

@media (min-width: 700px) {
  #loadMoreMusic {
    width: 100%;
    margin-left: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    border-top-left-radius: 1;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1;
    border-bottom-right-radius: 0;
    padding: .5em 1em;
    background-color: #16A085;
    width: 6rem;
    height: 20px;
    color: #222222; } }

@media (min-width: 1000px) {
  #loadMoreMusic {
    width: 100%;
    margin-left: 27rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    border-top-left-radius: 1;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1;
    border-bottom-right-radius: 0;
    padding: .5em 1em;
    background-color: #16A085;
    width: 120px;
    height: 17px;
    color: #222222; } }

@media (min-width: 300px) {
  nav ul {
    display: flex;
    justify-content: flex-end;
    font: 6px;
    margin-top: 0; } }

@media (min-width: 400px) {
  nav ul {
    display: flex;
    justify-content: flex-end;
    font: 6px;
    margin-top: 0; } }

@media (min-width: 700px) {
  nav ul {
    display: flex;
    justify-content: flex-end;
    font: 6px;
    margin-top: 0; } }

@media (min-width: 1000px) {
  nav ul {
    display: flex;
    justify-content: flex-end;
    font: 6px;
    margin-top: 0; } }

@media (min-width: 300px) {
  nav li {
    display: inline-block;
    padding: 0rem .5rem 0rem 0rem;
    color: #CCCCCC;
    font: 10px;
    text-decoration: none; }
    nav li a {
      display: block;
      color: #CCCCCC;
      font-size: 10px;
      text-decoration: none; } }

@media (min-width: 400px) {
  nav li {
    display: inline-block;
    padding: 0rem .5rem 0rem 0rem;
    color: #CCCCCC;
    font: 10px;
    text-decoration: none; }
    nav li a {
      display: block;
      color: #CCCCCC;
      font-size: 10px;
      text-decoration: none; } }

@media (min-width: 700px) {
  nav li {
    display: inline-block;
    padding: 0rem .5rem 0rem 0rem;
    color: #CCCCCC;
    font: 10px;
    text-decoration: none; }
    nav li a {
      display: block;
      color: #CCCCCC;
      font-size: 10px;
      text-decoration: none; } }

@media (min-width: 1000px) {
  nav li {
    color: #CCCCCC;
    font: 10px;
    text-decoration: none;
    margin-top: 8px; }
    nav li a {
      display: flex;
      color: #CCCCCC;
      font-size: 10px;
      text-decoration: none;
      margin-top: 8px; } }

@media (min-width: 300px) {
  nav a:hover {
    color: #16A085; } }

@media (min-width: 400px) {
  nav a:hover {
    color: #16A085; } }

@media (min-width: 700px) {
  nav a:hover {
    color: #16A085; } }

@media (min-width: 1000px) {
  nav a:hover {
    color: #16A085; } }

@media (min-width: 300px) {
  header::after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 400px) {
  header::after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 700px) {
  header::after {
    content: " ";
    display: block;
    clear: both; } }

@media (min-width: 1000px) {
  header::after {
    content: " ";
    display: block;
    clear: both; } }

footer {
  text-align: center;
  background-color: #222222;
  width: auto; }
