<!DOCTYPE html>
<html lang="en">
	<head>
			<meta charset="utf-8" /> 
			<title>Shopping App</title>
			
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<!--css links -->
		<link rel="stylesheet" type="text/css" href="css/main.css">
	
	</head>
	<body>
		<section id="products">
			<h1>Justo Risus</h1>
			<ul>
				<li>
					<img scr="" alt="product size">
					<p>Justo Risus</p>
				</li>
				<li>
					<h3>Justo Risus</h3>
					<button></button>
					<button></button>
					<button></button>
				</li>
				<li>
					<h3>Justo Risus</h3>
					<button></button>
					<button></button>
					<button></button>
					<button></button>
				</li>
			</ul>
		</section>
		<section id="order form">
		
		
		
		
		
		
		
		
		
		
		
		
		
			<!-- Footer -->
		<footer>
			<p>Built by Joshua Sexton for DWS2. This product uses the Lastfm API but is not endorsed or certified by Lastfm. </p>
		</footer>
			
			
				<!--script tag -->
		<script src="js/main.js"></script> 
	</body>
	
	
</html>