//base

html{
	@include mq(small){
		background-color: $neutral-color;
		font-family: $font-stack;
		font-size: 12px;
		line-height:1.5;
		color: $copy-color;
		height:100%;
	}
	@include mq(medium){
		background-color: $neutral-color;
		font-family: $font-stack;
		font-size: 16px;
		line-height:1.5;
		color: $copy-color;
		height:100%;
	}
	@include mq(large){
		background-color: $neutral-color;
		font-family: $font-stack;
		font-size: 16px;
		line-height:1.5;
		color: $copy-color;
		height:100%;
	}
	@media(min-width: 1000px){
		background-color: $neutral-color;
		font-family: $font-stack;
		font-size: 12px;
		line-height: 1.5;
		color: $copy-color;
		height:100%;
	}
	
	}

	
body{
	@include mq(small){
		background-image: url("../images/austin-neill-213462.jpg");
		background-repeat: no-repeat;
		background-size: auto 16%;
	}
	@include mq(medium){
		background-image: url("../images/austin-neill-213462.jpg");
		background-repeat: no-repeat;
		background-size: auto 20%;
	}
	@include mq(large){
		background-image: url("../images/austin-neill-213462.jpg");
		background-repeat: no-repeat;
		background-size: 100% 20%;
		height: auto;
	}
	@media(min-width: 1000px){
		background-image: url("../images/austin-neill-213462.jpg");
		background-repeat: no-repeat;
		background-size: 100% 20%;
		height: auto;
	}
}

header{
	@include mq(small){
		width: 80%;
		max-width: 1100px;
		margin: 0 auto;
	}
	@include mq(medium){
		width: 80%;
		max-width: 1100px;
		margin: 0 auto;
	}
	
	@include mq(large){
		width: 80%;
		margin: 0 auto;
	}
	@media(min-width: 1000px){
		width: 80%;
		margin: 0 auto;
	}
}

search{
	@include mq(small){
		width: 80%;
		max-width: 1100px;
		margin: 0 auto;
	}
	@include mq(medium){
		width: 80%;
		max-width: 1100px;
		margin: 0 auto;
	}
	@include mq(large){
		width: 80%;
		max-width: 1100px;
		margin: 0 auto;
	}
	@media(min-width: 1000px){
		width: 80%;
		max-width: 1100px;
		margin: 0 auto;
	}
}

#results{
	@include mq(small){
		width: auto;
		max-width: 1100px;
		margin: 0 auto;
	}
	@include mq(medium){
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;
	}
	@include mq(large){
		width: auto;
		margin-left: auto;
		margin-right: auto;
	}
	@media(min-width: 1000px){
		width: 60%;
		max-width: 1100px;
		margin-left: auto;
	    margin-right: auto;
		}
}

li h3{
	@include mq(small){
		color: $secondary-color;
		font-size: 10px;
		width: 180px;
		position: relative;
		left: 92px;
		top: -80px;
		margin-top: 0;
		padding-left:0;
		
	}
	@include mq(medium){
		color: $secondary-color;
		font-size: 12px;
		width: 190px;
		position: relative;
		left: 130px;
		top: -80px;
		margin-top: 0;
		padding-left:0;
	}
	@include mq(large){
		width: 100%;
		position: static;
		color: $secondary-color;
		font-size: 12px;
		text-align: center;
		margin-bottom: 0;
	}
	@media(min-width: 1000px){
		width: 100%;
		position: static;
		color: $secondary-color;
		font-size: 12px;
		text-align: center;
		margin-bottom: 0;
		}
}

#headlineResults{
	@include mq(small){
		background-color: $primary-color;
		color: $neutral-color;
		width: auto;
		margin-top: 15px;
		font-size: 18px;
		height: 40px;
		padding-top: 10px;
		padding-left: 20px;
	}
	@include mq(medium){
		background-color: $primary-color;
		color: $neutral-color;
		width: auto;
		margin-top: 18px;
		font-size: 20px;
		padding-top: 10px;
		padding-left: 35px;
	}
	@include mq(large){
		background-color: $primary-color;
		color: $neutral-color;
		width: auto;
		margin-top: 18px;
		font-size: 24px;
		text-align: center;
	}
	@media(min-width: 1000px){
		background-color: $primary-color;
		color: $neutral-color;
		width: 22rem;
		margin-top: 30px;
		margin-left: 75px;
		font-size: 15px;
		padding-left: 0;
		height: 3rem;
		
		}
}

h2{
	@include mq(small){
		background-color: $primary-color;
		width: 255px;
		margin-bottom: 0rem;
		margin-top: 62px;
		padding-left: 3rem;
		margin-left: auto;
		margin-right: auto;
		height: 2rem;
		font-size: 13px;
	}
	@include mq(medium){
		background-color: $primary-color;
		width: 80%;
		margin-bottom: 0;
		margin-top: 70px;
		padding-left: 0;
		margin-left: auto;
		margin-right: auto;
		height: 2rem;
		font-size: 20px;
	}
	@include mq(large){
		background-color: $primary-color;
		width: 20rem;
		margin-bottom: 0rem;
		margin-top: 70px;
		margin-left: 6rem;
		padding-left: 0rem;
		height: 2rem;
		font-size: 20px;
	}
	@media(min-width: 1000px){
		background-color: $primary-color;
		width: 15rem;
		margin-bottom: 0rem;
		margin-top: 20px;
		margin-left: 25rem;
		padding-left: 0;
		height: 2rem;
		font-size: 12px;
	}
}

h1 a{
	@include mq(small){
		float: left;
		width: 60px; 
    	height: 60px;
    	background: url("../images/turntable.png");
    	background-repeat: no-repeat;
    	text-indent:-9999px;
    		margin-top: 3px;
    }
    @include mq(medium){
    	float: left;
		width: 60px; 
   		height: 60px;
    	background: url("../images/turntable.png");
    	background-repeat: no-repeat;
    	text-indent:-9999px;
    	margin-top: 3px;
    }
    @include mq(large){
    	float: left;
		width: 60px; 
    	height: 60px;
    	background: url("../images/turntable.png");
    	background-repeat: no-repeat;
    	text-indent:-9999px;
    	margin-top: 3px;
    }
    @media(min-width: 1000px){
    	float: left;
		width: 60px; 
    	height: 60px;
    	background: url("../images/turntable.png");
    	background-repeat: no-repeat;
    	text-indent:-9999px;
    	margin-top: 3px;
    }
}

#searchField{
	@include mq(small){
		height: 40px;
		width: 283px;
		background-color: #EEEEEE;
		margin-top: 0rem; 
		margin-left: 8px;
		margin-right: auto;
		font-size: 20px;
		margin-bottom: 20px;
	}
	@include mq(medium){
		height: 40px;
		width: 20rem;
		background-color: #EEEEEE;
		margin-top: 0rem; 
		margin-left: 2.5rem;
		font-size: 20px;
		margin-bottom: 20px;
	}
	@include mq(large){
		height: 40px;
		width: 30rem;
		background-color: #EEEEEE;
		margin-top: 0rem; 
		margin-left: 6rem;
		font-size: 20px;
		margin-bottom: 20px;
	}
	@media(min-width: 1000px){
		height: 40px;
		width: 40rem;
		background-color: #C0C0C0 ;
		margin-top: 0rem; 
		margin-left: 25rem;
		font-size: 25px;
		margin-bottom: 70px;
	}
}

#submitSearch{
	@include mq(small){
		background-image: url("../images/search.png");
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		background-size: 15px 15px;
		border: none;
		margin-left: -25px;
	}
	@include mq(medium){
		background-image: url("../images/search.png");
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		background-size: 15px 15px;
		border: none;
		margin-left: -25px;
	}
	@include mq(large){
		background-image: url("../images/search.png");
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		background-size: 15px 15px;
		border: none;
		margin-left: -25px;
	}
	@media(min-width: 1000px){
		background-image: url("../images/search.png");
		background-repeat: no-repeat;
		width: 20px;
		height: 20px;
		background-size: 20px 20px;
		border: none;
		margin-left: -28px;
	}
}

#results ul {
 	@include mq(small){
		width: 95%;
		display: flex;
		flex-direction: column;
		padding-right: 0rem;
		padding-left: 0rem;
		margin-left: auto;
		margin-right: auto;
	}
	@include mq(medium){
		width: 85%;
		display: flex;
		flex-wrap: wrap;
		padding-right: 0rem;
		padding-left: 0rem;
		margin-left: auto;
		margin-right: auto;
	}
	
	@include mq(large){
		width:80%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		padding-right: 0rem;
		padding-left: 0rem;
		margin-left: auto;
		margin-right: auto;
	}
	@media(min-width: 1000px){
		display: flex;
		flex-wrap: wrap;
	}
}

li img {
	@include mq(small){
		width: 30%;
		height: auto;
}
	@include mq(medium){
		width: 25%;
		height: auto;
	
	}
	@include mq(large){
		width: auto;
		height:auto;
	
	}
}

#results {
	@include mq(small){
	li {
		background-color: $primary-color;
	    width: auto;
	    height: 89px;
		display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
		text-align: center;
		font-size: 10px;
		margin-bottom: 1rem;
		}
 	li p {
		text-align: center;
		font-size: 10px;
		position: relative;
		left: 92px;
		top: -80px;
		width: 180px;
		margin-top: 0rem;
		}
		}
	@include mq(medium){
		li {
		background-color: $primary-color;
		width: auto;
		height: 88px;
		display: flex;
	    justify-content: flex-start;
	    flex-direction: column;
		text-align: center;
		margin-bottom: 1rem;
		font-size: 12px;
		}
 	li p{
		text-align: center;
		font-size: 12px;
		width: 190px;
		position: relative;
		left: 170px;
		top: -80px;
		width: 100px;
		margin-top: 0rem;
		}
		}
	@include mq(large){
		li {
		background-color: $primary-color;
		width: 175px;
		height: 280px;
		display: flex;
		margin-right: 1rem;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
        text-align: center;
		font-size: 10px;
		margin-bottom: 1rem;
		}
 	li p{
 	 	position: static;
		text-align: center;
		font-size: 16px;
		width: 100%;
		}
		}
	@media(min-width: 1000px){
		li {
		background-color: $primary-color;
		width: 175px;
		height: 280px;
		display: flex;
		margin-right: 1rem;
		justify-content: flex-start;
		flex-direction: row;
		flex-wrap: wrap;
        text-align: center;
		font-size: 10px;
		margin-bottom: 1rem;
		}
 	li p{
 		position: static;
 	    text-align: center;
		font-size: 16px;
		width: 100%;
		padding-top: 0;
		margin-top: 2px;
		}
		}
	
}


results::after{
	@include mq(small){
		content: " ";
		display: block;
		clear: both;
	}
	@include mq(medium){
		content: " ";
		display: block;
		clear: both;
	}
	@include mq(large){
		content: " ";
		display: block;
		clear: both;
	}
	@media(min-width: 1000px){
		content: " ";
		display: block;
		clear: both;
	}
}


#results ul:nth-of-type(3n+1),
#results > p:last-child{
	@include mq(small){
		clear: left;
	}
	@include mq(medium){
		clear: left;
	}
	@include mq(large){
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	@media(min-width: 1000px){
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

#loadMoreMusic{
	@include mq(small){
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 16px;
		padding-right: 6rem;
		text-align: center;
		@include brs(-1,1,1,-1);
    	background-color: $secondary-color;
    	width: 70%;
    	height: 50px;
		color: $primary-color;
		margin-right: auto;
		margin-left: auto;
	}
	@include mq(medium){
		display: flex;
		justify-content: flex-end;
		align-items: center;
		font-size: 16px;
		padding-right: 6rem;
		text-align: center;
		@include brs(1,1,1,1);
    	background-color: $secondary-color;
		width: 58%;
		color: $primary-color;
		height: 50px;
		margin-right: auto;
		margin-left: auto;
	}
	@include mq(large){
		width:100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 12px;
		@include brs(1,0,1,0);
		padding-right: 15px;
		background-color: $secondary-color;
		width: 150px;
		height: 25px;
		color: $primary-color;
	}
	@media(min-width: 1000px){
		width: 100%;
		margin-left: 23rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		font-size: 12px;
		@include brs(1,0,1,0);
		padding: .5em 1em;
		background-color: $secondary-color;
		width: 120px;
		height: 17px;
		color: $primary-color;
	}
}
	